<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">姓名</label>
        <input type="text" [(ngModel)]="user.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="請輸入姓名："
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">未輸入姓名！</div>
      <div class="form-group">
        <label for="age">年齡</label>
        <input type="text" [(ngModel)]="user.age"
               class="form-control"
               id="age"
               name="age"
               placeholder="請輸入年齡："
               required #age="ngModel">
        <div [hidden]="!age.pristine" class="alert alert-danger">未輸入年齡！</div>
      </div>
      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">確認送出</button>
    </form>
  </div>
</div>
